body {
  margin: 0;
  padding: 0;
  background-color: #dbdfe679;
  font-family: 'Montserrat', sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-areas: 'sidebar main';
  height: 100vh;
}

#sidebar {
  background-color: #18408a;
  color: white;
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  width: 230px;
}
.sidebar-list {
  padding: 0;
  list-style-type: none;
}

.sidebar-list-item {
  
  padding: 15px;
  font-size: 18px;
}
.sidebar-list-item i{
  margin-right: 10px;
}

.sidebar-list-item1{
  padding: 12px;
  margin-left: 30px;
  background-color: #f0f2f6;
  color: rgba(31, 31, 200, 0.919);
}
.sidebar-list-item2{
  padding: 12px;
  margin-left: 30px;
  background-color: #f0f2f6;
  color: #333;
}
.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
main button{
  background-color: rgba(128, 128, 128, 0.605);
  padding: 10px 25px;
  color: white;
  margin-left: 10px;
}
main button i{
  margin-right: 15px;
}
.main{
  display: flex;
  /* grid-template-columns: 1fr 1fr; */
}
.pro_dev{
  display: flex;
}
.project_info {
  width: 75%;
  height: fit-content;
  margin: 10px;
  border: 1px solid rgba(128, 128, 128, 0.312);
  background-color: #dbdfe6cc;
}
.project_info p {
  background-color: white;
  color: black;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 1rem; 
}
.project_info span{
  color: red;
}
.project_row1, .project_row2 {
  display: flex;
}
.form-group {
  padding: 2px 15px;
  flex: 1; 
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}
.form-group label {
  margin-bottom: 1px;
  font-weight: bold; 
  color: #333; 
}
.form-group input,
.form-group select,
.form-group textarea {
  padding: 6px 9px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  color: rgba(128, 128, 128, 0.529);
  background-color: white;
}
.right-section {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 25%;
}
.devices, .filter {
  border: 1px solid rgba(128, 128, 128, 0.338);
  margin-bottom: 20px;
  background-color: #dbdfe6cc;
}

.devices p{
  background-color: white;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 1rem; 
}
.device_lavel{
  padding: 0px 20px;
}
.device_lavel input{
  margin-right: 15px;
}
.filter p{
  background-color: white;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 1rem; 
}
.filter_level{
  padding: 0px 20px;
}
.filter_level input{
  margin-right: 15px;
}
.regions{
  width: 98%;
  border: 1px solid rgba(128, 128, 128, 0.374);
  margin-left: 10px;
  background-color: #dbdfe6cc;
}
.regions_p{
  background-color: white;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 1rem; 
}
.regions_inp{
  padding:0 10px;
  flex: 1; 
  display: flex;
  flex-direction: column;
  margin-bottom: 7px;
  
}
.regions_inp p{
  margin-bottom: 2px;
  font-weight: bold; 
  color: #333;
}
.regions_inp select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: white;
  cursor: pointer;
}
.specifications{
  width: 98%;
  border: 1px solid rgba(128, 128, 128, 0.352);
  margin-left: 10px;
  background-color: #dbdfe6cc;
  margin-top: 10px;
}
.specifications p{
  background-color: white;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 1rem; 
}
.specifications_table{
  padding:0 10px;
  margin-bottom: 8px;
}
.specifications_table input{
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  
}
table{
  width: 100%;
}
th{
  background-color: #204893;
  color: white;
  font-weight: 400;
  padding: 5px;
  font-size: .8rem;
}
.spe_inp{
  width: 145px;
}
.add_rmv_btn{
  display: flex;
  align-items: center;
  margin-right: 35px;
}
.add_rmv_btn input{
  width: 135px;
  margin-right: 5px;
}
.add_rmv_btn span{
  padding: 0px 6px;
  border-radius: 50%;
  margin: 0 0px 0 6px;
  cursor: pointer;
}
.add{
  background-color: rgba(0, 128, 0, 0.864);
  color: white;
}
.remove{
  background-color: rgba(255, 0, 0, 0.901);
  color: white;
}
.buttons{
  background-color: rgb(255, 255, 255);
  width: 98%;
  margin-left: 10px;
  margin-top: 10px;
  padding: 10px ;
margin-bottom: 20px;
text-align: right;
}
button{
  border: none;
  padding: 10px 20px;
  margin: 5px;
}
.btn_cancel{
  background-color: red;
  color: white;
  border-radius: 5px;
}
.btn_submit{
  background-color: rgba(0, 0, 255, 0.801);
  color: white;
  border-radius: 5px;
}
